src/Xsd/ServiceBanque.xsd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="BanqueService">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="conversion" type="xs:double"/>
        <xs:element name="compte" type="CompteType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CompteType">
    <xs:sequence>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="solde" type="xs:double"/>
      <xs:element name="dateCreation" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
